.navbar-container {
  z-index: 1000;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  gap: 2rem;
  padding: 2vh 10px 1vh 10vw;
  background-color: #0e115463;
  & > p {
    cursor: pointer;
    color: rgba(218, 238, 228, 70);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  & > p:hover {
    color: rgba(218, 238, 228, 100);
  }
}
.hamburger-menu {
  display: none;
}

#navbar-content {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 2rem;
  background-color: #0e115463;
  width: 100vw;
  padding: 3vh;
  align-items: flex-end;
  right: 0;
}

.hamburger-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 27px;
  cursor: pointer;
  > div {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #000000;
    transition: transform 0.5s ease-in-out;
    transform-origin: center left;
  }
}

@media (max-width: 700px) {
  .navbar-container {
    display: none;
  }
  .hamburger-menu {
    z-index: 1000;
    position: sticky;
    width: 100vw;
    top: 0;
    display: flex;
    gap: 2rem;
    padding: 3vh;
    background-color: #0e115463;
    flex-direction: column;
    align-items: flex-end;
  }

  .burger-line1.clicked {
    transform: rotate(45deg);
  }
  .burger-line2.clicked {
    transform: scale(0);
  }
  .burger-line3.clicked {
    transform: rotate(-45deg);
  }
}
