.navbar-container {
  z-index: 1000;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  gap: 2rem;
  padding: 2% 10px 1% 10%;
  background-color: #0e115463;
  & > p {
    cursor: pointer;
    color: rgba(218, 238, 228, 70);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  & > p:hover {
    color: rgba(218, 238, 228, 100);
  }
}
